node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

.venv/
.venv_pdf/
__pycache__/
*.pyc
instance/
*.sqlite3
*.db
.env
database/*.db
database/*.sqlite3
static/images/qrcodes/*.png
